[submodule "ecommerce-frontend"]
	path = frontend
	url = git@github.com:dineshdb/auction-frontend.git
[submodule "recommendation"]
	path = recommendation
	url = git@github.com:dineshdb/auction-recommendation.git
