[submodule "ecommerce-frontend"]
	path = frontend
	url = git@github.com:dineshdb/ecommerce-frontend.git
[submodule "recommendation"]
	path = recommendation
	url = git@github.com:dineshdb/auction-recommendation.git
[submodule "reverse-proxy"]
	path = reverse-proxy
	url = git@github.com:dineshdb/auction-proxy.git
